.headerNav {
    /* Set the navbar to fixed position */
    /* position: fixed;  */
    /* Position the navbar at the top of the page */
    /* top: 0;  */
    /* Full width */
    width: 100%; 
    height: 20vh;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // background-color: #bec1ac;
    background-color: var(--clr-sage);
    z-index:1;
  }

  #headerTitle{
    color: var(--clr-white);
    font-size: 3em;
    position:absolute;
  left:8%;
  text-shadow: 1px 1px black;
  }
  #headerLogo{
    height:7rem;
    width:7rem;
  // padding: .05rem;
  position:absolute;
  left:2%;
  }
  
  .headerNav a {
    text-decoration: none;
    color:white;
  }
  
  
  .navBar {
    position:absolute;
  right:2%;
    display: flex;
    align-items: center;
      a {
    padding: 1.4rem 1.6rem;
    font-size: 1.5em;
  }
  }
  

  
  .navBar a:hover {
    // background: #ddd;
    color: black;
    // font-size: larger;
    // height: 65%;
    // display: flex;
    // align-items: center;
    // border: #508080 outset;
  
  }

  