* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  /*sets base font size to 10px*/
  font-size: 62.5%;
//  font-family: 'Times New Roman', Times, serif; 
  font-family: 'playfair display',serif;
}


:root{
  /* --clr-primary: #bec1ac; */
  --clr-white: #fafafa;
  /* --clr-light-olive: #ecece6; */
  --clr-olive: #c1c1ac;
  --clr-light-olive: #e0e0d6;
  --clr-black: #1b1b1b;

  //new theme colors
  --clr-timberwolf: #DAD7CD;
  --clr-sage: #A3B18A;
  --clr-fern-green:#588157;
  --clr-hunter-green:#3A5A40;
  --clr-brunswick-green: #344E41;

  --img: url('https://static.wixstatic.com/media/11062b_e12d54be8cc041ba966e4b55e87f8eff~mv2.jpg/v1/fill/w_2850,h_960,fp_0.64_0.18,q_90,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_e12d54be8cc041ba966e4b55e87f8eff~mv2.jpg');
}

.App {
  text-align: center;
  font-family: 'Bodoni Moda', serif;
  // font-family: 'Georgia', serif;
  /* background-color: #afc4b7; */
  // background-color: var(--clr-timberwolf);
}



#body {
  padding-top: 5px;
  background-color: var(--clr-white);
}



  
  /* tablets */
  @media(max-width: 920px){

  }
  
  /* phones */
  @media(max-width: 420px){

  }

  