* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 1.0rem;
  /* font-family: 'Times New Roman', Times, serif; */
  font-family: 'playfair display',serif;
}


:root{
  /* --clr-primary: #bec1ac; */
  --clr-white: #fafafa;
  /* --clr-light-olive: #ecece6; */
  --clr-olive: #c1c1ac;
  --clr-light-olive: #e0e0d6;
  --clr-black: #1b1b1b;
}

.App {
  text-align: center;
  font-family: 'Bodoni Moda', serif;
  /* background-color: #afc4b7; */
  background-color: var(--clr-white);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#body {
  padding-top: 5px;
  background-color: #fafafa;
}


// #buttonBox {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   height: 300px;
//   padding-top: 100px;  
// }

// .buttons {
//   display: flex;
//   flex-direction: row;
//   width: 200px;
//   height: 200px;
//   margin: 30px; 
//   justify-content: center;
//   align-items: center;
  
// }

// .buttons a {
//   text-decoration: none;
//   color:white;
// }

#ladiesRoomPic {
  width: 600px;
  height: 400px;
  display: flex;
}

#ladiesRoom{
  padding-top: 5em;
}
#tan {
  background-color: tan;
  border-radius: 25px;
}

#tan:hover {
  background-color: tan;
  color: black;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  font-size: 24px;
}

#tan:hover a{
  text-decoration: none;
  color:black;
}

#beige {
  background-color: beige;
  text-shadow: 2px 2px black;
  border-radius: 25px;
  border: 2px black solid;
}

#beige:hover {
  background-color: beige;
  text-shadow: 2px 2px black;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  font-size: 24px;
}
#green {
  background-color: rgb(147, 204, 147);
  text-shadow: 2px 2px black;
  border-radius: 25px;
  border: 2px black solid;
}

#green:hover {
  background-color: rgb(147, 204, 147);
  text-shadow: 2px 2px black;
  border-radius: 25px;
  width: 250px;
  height: 250px;
  font-size: 24px;
}

#sunstone {
  height:50px;
  padding: 5px;
  position:absolute;
  left:2%;
}


#aboutMe {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #afc4b7;
}

#description {
  width: 50%;
  margin-left: 100px;
  margin-right: 100px;
  border: ridge #b39a74 10px;
  font-size: large;
  padding: 10px;

  
}

#jae {
  border-radius: 50%;
  width: 50px;
    height: 50px;
}

/*services start*/

.serviceBoxes{
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
  height: 35em;
}

.serviceDescriptions h3{
  color: var(--clr-black);
}

.serviceBox {
  display: flex;
  flex-direction: row;
  align-items:start;
  height:20rem;
  width: 40rem;
  margin:6em;
}

.serviceBox div{
  padding: 2rem;
}

.serviceImg{
  height:15rem;
  width: 25rem;
}

/*services end*/

#mainPic {
  padding-top: 60px;
  width: 100%;
}

#jae{
  width: 250px;
  height:250px;
}


#footer
{
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background-color:var(--clr-olive);
  color: white;

}
.footerItem a{
  text-decoration: none;
  color: white;
  margin: 10px;
}

#imageQuote1{
  position: absolute;
  color: white;
  bottom:125px;
  font-size: 36px;
  text-align:center;
  margin: 10px;
  left: 500px;
  color: white;
  text-shadow: 2px 2px black;
}
#imageQuote2{
  position: absolute;
  color: white;
  bottom:100px;
  font-size: 30px;
  text-align:center;
  margin: 10px;
  left: 470px;
  color: white;
  text-shadow: 2px 2px black;
}

#contactContent{
  background-color: tan;
  color: white;
  width:80%;
  display: flex;
  flex-direction: column;
}

.destination{
  text-decoration: none;
  color: white;
}

.women{
  display: flex;
  flex-direction: row;
  background-color: #ecece6;
  color:white;
  height: 750px;
  width:100%;
  align-items: center;
}

#womenImg{
  width: 621px;
  height: 380px;
}
#womenQuote{
  font-size: 30px;
  margin: 2em;
  text-align:center;
  vertical-align: middle;
}

#contact{
  padding-top: 5em;
  background-color: #afc4b7;
  padding-bottom: 2.5em;
  color: white;
  height:67vh;
}

.contactBox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#contactForm{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
  justify-content: center;

}

.map-image {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#faqSection{
  padding-top: 5em;
  color: black;
}
#faqImg{
  width:100%;
  height:400px;
}

// .reviewsBox{
//   display: flex;
//   flex-direction: row;
// }

// .reviewItem{
//   padding: 20px;
//   width: 500px;
// }
// .reviews{
//   position: relative;
//   height: 95vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   margin-top: 46px;
//   background-color: black;
//   color: white;
//   border-top: #afc4b7 10px solid;
//   font-size: 24px;
// }

// .review{
//   width: 1000px;
//   height: 600px;
//   border-radius: 10px;
//   font-size: 24px;

// }

//   .rightArrow{
//     position: absolute;
//     top: 25%;
//     font-size: 3rem;
//     color: white;
//     right:32px;
//     cursor: pointer;
//     user-select: none;
//   }

//   .leftArrow{
//     position: absolute;
//     top: 25%;
//     font-size: 3rem;
//     color: white;
//     left:32px;
//     cursor: pointer;
//     user-select: none;
//   }

  #intro{
    color: white;
  }

  #joy{
    color:#558080;
    font-size: larger;
  }

  .reviewForm{
    display: flex;
    flex-direction: column;
  }

  #closingQuote{
    width: 75%;
    position: absolute;
    top:55%;
  }
  #nameInput{
    width: 110%;
  } 

  .contactInfo{
    display: flex;
    flex-direction: column;
  }
  #contactInfoSecondRow{
    display: flex;
    flex-direction: row;
  }

  #emailInput{
    margin-right: 10%;
  }
  #subjectInput{
    width: 110%;
  }

  #messageInput{
    width: 110%;
    line-height: 5;
  }
  #submitBtn{
    width:15vw;
    background-color: #508080;
    color: white;
    border: #508080;
    border-radius: 40px;
    margin-left: 20%;
  }

  .faq{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
  }

  .faqs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 80%;
    height:400px;
    margin-left: 10%;
    height: auto;
  } 

  /*HomePage*/
  hr{
    width: 18%;
    margin: auto;
  }
  #quote-box{
    display: flex;
  }
  #quote-txt{
    /* float: left; */
    position: absolute;
    /* left: 0px;
    top: 0px;
    z-index: 1000;
    padding: 5px; */
    margin: 150px;
    width:320px;
    height: 225px;
    display: flex;
    align-items: center;
  }
  #quote-img{
    margin-left: 400px;
    width:520px;
    height: 425px;
       
  }

  .lightOliveBackWhiteText{
    background-color: var(--clr-light-olive);
    color: var(--clr-white);    
  }

  .lightOliveBackOliveText{
    background-color: var(--clr-light-olive);
    color: var(--clr-olive);    
  }

  .oliveBackWhiteText{
    background-color: var(--clr-olive);
    color: var(--clr-white);    
  }

  .whiteBackBlackText{
    background-color: var(--clr-white);
    color: var(--clr-black); 
  }

  .whiteBackOliveText{
    background-color: var(--clr-white);
    color: var(--clr-olive); 
  }
  

  /* #getInTouchSec{

  } */

  .text--black{
    color: var(--clr-black);
  }

  .text--white{
    color: var(--clr-white);
  }
  
  /* tablets */
  @media(max-width: 920px){

  }
  
  /* phones */
  @media(max-width: 420px){

  }

  